.page {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
	padding: 0 1rem 3rem;
}

.section {
	scroll-margin-top: 5rem;
}

@media (min-width: 768px) {
	.page {
		padding: 0 2rem 4rem;
		gap: 4.5rem;
	}
}
